.rainbow {
  background: linear-gradient(to left, #ffffff, #ffff00, #00ffff, #cccccc);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 10s linear infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animategradient:hover {
  background-position: left;
  animation: gradient-animation 3s ease-in-out infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: left;
    background-size: 200% 200%;
  }
  50% {
    background-position: right;
    background-size: 200% 200%;
  }
  100% {
    background-position: left;
    background-size: 200% 200%;
  }
}
